@font-face {
    font-family: 'Audiowide';
    src: url('Audiowide-Regular.woff2') format('woff2'),
        url('Audiowide-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
